{% extends 'layouts/default_form.html' %}
{% load static %}
{% block title %}Вход на сайт{% endblock title %}

{% block buttons %}
<input class='btn btn-primary' type="submit" value="Войти">
{% endblock buttons %}

{% block after_form %}
<p>
    <a class='text-dark' href="{% url 'accounts:password_reset' %}">
        Забыли пароль?
    </a>
</p>

<p>
    <a class='text-dark' href="{% url 'accounts:registration' %}">
        <input class='btn btn-success' type="submit" value="Регистрация">
    </a>
</p>

<p>
    <a href="{% url 'social:begin' 'vk-oauth2' %}">
        <img src="{% static 'accounts/img/vk.png' %}" alt="VK" height="50" width="50">
    </a>
</p>
{% endblock after_form %}