{% extends 'layouts/basic.html' %}

{% block title %}Удаление билета{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-4">
        <div class="jumbotron">
            <form class='text-center' method="post">
                {% csrf_token %}
                <h2>Вы точно хотите удалить этот билет?</h2>
                <p>
                    <input class='btn btn-danger' type="submit" value="Удалить">
                </p>
            </form>
            <p class='text-center'>
                <a href="{% url 'bus_stations:tickets' bus_station_pk route_pk departure_time %}">
                    <input class='btn btn-success' type="submit" value="Отмена">
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}