{% extends 'layouts/basic.html' %}

{% block title %}
Рейсы маршрута {{ route.bus_station }} - {{ route }}
{% endblock title %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8 offset-2 text-center">
            <h4>
                <b>
                    Расписание отправлений с автовокзала <a class='text-dark'
                        href="{% url 'bus_stations:routes' route.bus_station.pk %}">{{ route.bus_station }}</a>
                </b>
            </h4>
            <h5>по маршруту {{ route }}</h5>
            <h5>на {% now 'd.m.Y' %}</h5>
            <table width="100%">
                <tr>
                    <th width='180'>Время отправления</th>
                    <th width='180'>Время прибытия</th>
                    <th width='180'>Время в пути</th>
                    <th width='150'>Маршрут</th>
                    <th width='220'>Число свободных мест</th>
                    <th width='180'>Цена билета</th>
                    <th width='110'>Автобус</th>
                    {% if user.is_staff %}
                    <th width='200'>Список проданных билетов</th>
                    {% endif %}
                </tr>

                {% for flight in flights %}
                <tr>
                    <!-- Departure time -->
                    <td>
                        {{ flight.departure_time }}
                    </td>

                    <!-- Arrival time -->
                    <td>
                        {{ flight.arrival_time }}
                    </td>

                    <!-- Travel time -->
                    <td>
                        {{ travel_time }}
                    </td>

                    <!-- Route -->
                    <td>
                        <a class='text-dark'
                            href="{% url 'bus_stations:routes' flight.bus_station.pk %}">{{ flight.bus_station }}</a> -
                        {{ route }}
                    </td>

                    <!-- Free places amount -->
                    <td>{{ flight.amount_of_free_places }}</td>

                    <!-- Ticket price -->
                    <td>{{ flight.route.price }} ₽</td>

                    <!-- Bus -->
                    <td>{{ flight.bus }}</td>

                    <!-- Sell tickets -->
                    {% if user.is_staff %}
                    <td>
                        <a class='dropdown-item'
                            href='{% url "bus_stations:tickets" flight.bus_station.pk flight.route.pk flight.departure_time %}'>
                            Проданные билеты
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>

            <!-- Next flight -->
            <br>
            {% if not next_flight.departure_time %}
            <h4>Ближайших рейсов нет</h4>
            {% else %}
            <h4 class='text-center'>Ближайший рейс</h4>
            <table width="100%">

                <!-- Departure time -->
                <td width='180'>
                    {{ next_flight.departure_time }}
                </td>

                <!-- Arrival time -->
                <td width='180'>
                    {{ next_flight.arrival_time }}
                </td>

                <!-- Travel time -->
                <td width='180'>
                    {{ travel_time }}
                </td>

                <!-- Route -->
                <td width='150'>
                    <a class='text-dark'
                        href="{% url 'bus_stations:routes' next_flight.bus_station.pk %}">{{ next_flight.bus_station }}</a>
                    -
                    {{ route }}
                </td>

                <!-- Free places amount -->
                <td width='220'>{{ next_flight.amount_of_free_places }}</td>

                <!-- Ticket price -->
                <td width='180'>{{ next_flight.route.price }} ₽</td>

                <!-- Bus -->
                <td width='110'>{{ next_flight.bus }}</td>

                <!-- Sell tickets -->
                {% if user.is_staff %}
                <td width='200'>
                    <a class='dropdown-item'
                        href='{% url "bus_stations:tickets" next_flight.bus_station.pk next_flight.route.pk next_flight.departure_time %}'>
                        Проданные билеты
                    </a>
                </td>
                {% endif %}
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}