{% extends 'layouts/basic.html' %}

{% block title %}
Список билетов
{% endblock title %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 offset-3 text-center">
            {% if tickets %}
            <h3>
                <b>
                    Билеты на рейс {{ route }} - {{ route.bus_station }}
                </b>
            </h3>
            <h3>
                <b>На время {{ departure_time }}</b>
            </h3>
            <table width="100%">
                <tr>
                    <th width='100'>Автовокзал</th>
                    <th width='100'>Маршрут</th>
                    <th>Время отправления</th>
                    <th>Цена</th>
                    <th>Покупатель</th>
                    <th>Продавец</th>
                    <th>Удалить билет</th>
                </tr>
                {% for ticket in tickets %}
                <tr>
                    <td>
                        <a class='text-dark' href="{% url 'bus_stations:routes' ticket.bus_station.pk %}">
                            {{ ticket.bus_station }}
                        </a>
                    </td>
                    <td>
                        <a class='text-dark' href="{% url 'bus_stations:flights' ticket.route.pk %}">
                            {{ ticket.route }}
                        </a>
                    </td>
                    <td>{{ ticket.departure_time }}</td>
                    <td>{{ ticket.price }} ₽</td>
                    <td>{{ ticket.user }}</td>
                    <td>{{ ticket.seller }}</td>
                    <td>
                        <a href="{% url 'bus_stations:delete_ticket' ticket.pk %}">
                            <input class='btn btn-danger' type="submit" value="Удалить">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h1>Билетов по данному рейсу нет</h1>
            {% endif %}
            <br>
            <a href="{% url 'bus_stations:flights' route.pk %}">
                <input class='btn btn-success btn-lg' type="submit" value="Назад">
            </a>
        </div>
    </div>
</div>
{% endblock content %}