{% extends 'layouts/basic.html' %}

{% block title %}
Список билетов
{% endblock title %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 offset-3 text-center">
            {% if tickets %}
            <h3>
                <b>
                    Билеты на рейс {{ flight }}
                </b>
            </h3>
            <table width="100%">
                <tr>
                    <th width='100'>Рейс</th>
                    <th width='50'>Цена</th>
                    <th width='100'>Покупатель</th>
                    <th width='80'>Продавец</th>
                    <th width='100'>Удалить билет</th>
                </tr>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.flight }}</td>
                    <td>{{ ticket.flight.route.price }} ₽</td>
                    <td>{{ ticket.user }}</td>
                    <td>{{ ticket.seller }}</td>
                    <td>
                        <a href="{% url 'bus_stations:delete_ticket' ticket.pk %}">
                            <input class='btn btn-danger' type="submit" value="Удалить">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h1>Билетов по данному рейсу нет</h1>
            {% endif %}
            <br>
            <a href="{% url 'bus_stations:flights' flight.route.pk %}">
                <input class='btn btn-success btn-lg' type="submit" value="Назад">
            </a>
        </div>
    </div>
</div>
{% endblock content %}